h1 {
    color: dodgerblue;
    text-align: center;
}

td {
    border: 3px solid black;
    height: 100px;
    width: 100px;
    }

.center {
    margin: 0 auto;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#resetgame-btn {
    width: 150px;
    height: 30px;
}

